/* 
==========
Fonts
==========
*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

a {
  text-decoration: none;
}
.logo {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.page-header {
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.section {
  text-decoration: underline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid rgb(255, 110, 199);
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

body {
  margin: 10px;
  background-color: floralwhite;
}

/* 
==========
Nav bar
==========
*/

.nav-bar {
  background: grey;
  width: 200px;
  border: solid 5px red;
  border-radius: 50%;
}

/* 
==========
Bio
==========
*/
.name {
  font-family: "Comfortaa", cursive;
}
.band {
  border: 4px solid greenyellow;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px pink;
  object-fit: fill;
}
.band:hover {
  transform: translateY(-10px);
}

.bio-text {
  /* text-align: center; */
  max-width: 250px;
  line-height: 1.5rem;
}

.bio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bio-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 20px;
  width: 400px;
  max-width: 450px;
}
.bio-icon {
  color: blue;
}

/* 
==============
Contact form 
==============
*/
.contact {
  background: rgba(240, 236, 236, 0.959);
}

/* 
==============
Fade in images 
==============
*/
.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
==============
Footer
==============
*/
footer {
  background: grey;
  text-align: center;
  border-radius: 2rem;
}
.social-icon {
  color: blue;
  font-size: 2rem;
  padding: 0 5px;
}
