a {
  text-decoration: none;
}

.band {
  border: 4px solid greenyellow;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px pink;
  object-fit: fill;
}
p {
  width: 250px;
}
.section {
  text-decoration: underline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid rgb(255, 110, 199);
  border-radius: 50%;
}

.band:hover {
  transform: translateY(-5px);
}
ul {
  list-style-type: none;
}
footer {
  background: grey;
  text-align: center;
  border-radius: 2rem;
}
.social-icon {
  color: blue;
  font-size: 2rem;
}
/* 
==============
Fade in images 
==============
*/
.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
