a {
  text-decoration: none;
}

.band {
  border: 4px solid greenyellow;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px pink;
  object-fit: fill;
}
p {
  width: 250px;
}
.section {
  text-decoration: underline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid rgb(255, 110, 199);
  border-radius: 50%;
}

.band:hover {
  transform: translateY(-5px);
}
